ground*
.vscode/
input/
input_salvati/
target/
prova*
src/__pycache__/
__pycache__/
test/*
Test_*
src/mashp1.lp
src/mashp0.lp
5_test.py
env_warehouse/
Saved_input_parts/
lemmi*
struttura_cartelle.txt
pass*
Test Set/
Greedy/confronto_modelli.xlsx
Greedy/Monolitico.xlsx
Greedy/Multishot.xlsx
Greedy/No_multisot.xlsx
Time_ground/complete_comparison.xlsx
Time_ground/Monolitico.xlsx
Time_ground/Multishot.xlsx
Time_ground/No_multisot.xlsx
a.lp
debug*
*.csv
*.xlsx
*.bak